.body {

}
.wrapp {
  display: flex;
  margin-top: 36px;

}
.liner {
  position: relative;
  width: 234px;
  border-bottom: 1px solid #000000;
  opacity: 0.1;
  right: 16px;
  margin-top: 17px;
  margin-bottom: 4px;
}
.leftBar {
  margin-right: 30px;
  width: 234px;
  height: 574px;
  background: #F0F0F0;
  border-radius: 15px;
  &__links {
    display: flex;
    flex-direction: column;
    margin: auto 17px;
  }
  &__item {
    &:nth-child(1) {
      margin-top: 16px;
      a {
        color: #EF5DA8;
      }

    }
    &:nth-child(7) {
      a {
        color: #5D5FEF;
      }

    }
    &:nth-child(10) {
      margin-bottom: 5px;
    }
    &_link {
      padding: 23px 39px;
      color: black;
      display: flex;
      align-items: center;
      width: 199px;
      height: 58px;
      &:hover {

        background: #FFFFFF;
        border-radius: 15px;
      }
      img {
        margin-right: 11px;
      }
    }
  }
}

.rightBar {
  display: flex;
  flex-wrap: wrap;
  &__info {
    width: 646px;
    height: 372px;
    background: #F0F0F0;
    border-radius: 15px;
    margin-right: 20px;
  }
  &__diagram {
    width: 270px;
    height: 372px;
    background: #F0F0F0;
    border-radius: 15px;
  }
  &__foot {
    width: 936px;
    height: 236px;
    background: #F0F0F0;
    margin-top: 17px;

  }
}