.head {
  display: flex;
  flex-wrap: wrap;
  margin-top: 28px;

}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__user {
    display: flex;
    align-items: center;
    &_notification {
      margin-right: 6px;
      &_img2 {
        position: relative;
        right: 5px;
        top: -2px;
      }
    }
    &_name {
      margin-right: 6px;
      //@include sem();
      font-family: 'Gilroy-Semibold', sans-serif;

    }
  }

}
